* {
    box-sizing: border-box;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(207, 203, 203, 0.5);
    margin-top: 2rem;
    height: 50px;
    padding: 20px;

}

header button {
    background-color: rgb(140, 138, 138);
    margin: auto 50px;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-size: x-large;
    color: white;
    cursor: pointer;
}

body {
    background-image: url("./pages/images/Barbieri_-_ViaSophia25668.jpg");
    background-size: cover;
    width: 100%;
}

#textContainer {
    background-color: rgba(207, 203, 203, 0.5);
    margin-top: 10%;
}

#textContainer > p {
    font-size: xx-large;
    padding: 200px;
}
